@model todo.ViewModels.TodoViewModel

<div class="row justify-content-center">
    <div class="col-4">
        <table class="table">
            <thead>
            <tr class="table-primary">
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var t in Model.TodoList)
            {
                <tr>
                    <th scope="row">@t.Id</th>
                    <td>@t.Name</td>
                    <td><input type="submit" class="btn btn-danger" value="Delete" onClick="deleteTodo(@t.Id)"/></td>
                    <td><input type="submit" class="btn btn-primary" value="Update" onClick="populateForm(@t.Id)"/></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
